@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: Avenir Next Regular;
}

body {
  margin: 0rem;
  padding: 0rem;
}

.bandsite__h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Avenir Next Bold;
}
@media (min-width: 768px) {
  .bandsite__h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.bandsite__h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: Avenir Next Demi;
}
@media (min-width: 768px) {
  .bandsite__h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.bandsite__p {
  font-family: Avenir Next Regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .bandsite__p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.hero {
  width: 100%;
  height: 30vh;
  padding: 0rem;
  margin: 0rem;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 500px) and (max-width: 768px) {
  .hero {
    height: 45vh;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 60vh;
    background-size: 100% 100%;
  }
}
.hero__h1--center {
  width: 300px;
  color: white;
  font-family: Avenir Next Bold;
  text-align: center;
  position: relative;
  top: 45%;
  padding-right: 3rem;
  margin: 0rem;
}
@media (min-width: 768px) {
  .hero__h1--center {
    width: 600px;
    padding-right: 4rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.bandsite__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .bandsite__nav {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0rem 2rem;
  }
}
.bandsite__nav a {
  margin: 0.2rem;
  color: white;
}

.bandsite__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem 1rem;
  background-color: #323232;
}
.bandsite__footer__h3, .bandsite__footer__p {
  color: white;
}
.bandsite__footer__h1 {
  color: white;
  padding: 0rem;
}
.bandsite__footer__h6 {
  font-family: Avenir Next Regular;
  color: white;
}
@media (min-width: 768px) {
  .bandsite__footer__h6 {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
.bandsite__footer__img {
  height: 3vh;
  padding-right: 2rem;
}
.bandsite__footer__img--twitter {
  padding: 0rem;
}
.bandsite__footer__h3--margintop {
  color: white;
  margin-top: 0rem;
}
.bandsite__footer__h3--marginbottom {
  color: white;
  margin-bottom: 0rem;
}

.logo {
  height: 50px;
  width: 200px;
}
@media (min-width: 768px) {
  .logo {
    margin: 0.5rem 0rem;
  }
}
@media (min-width: 768px) {
  .logo__footer {
    width: 180px;
    height: 120px;
    margin: 0rem;
  }
}

.band-details {
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .band-details {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0rem;
  }
}
.band-details__member {
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .band-details__member {
    width: 30vw;
  }
}
.band-details__socials {
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .band-details__socials {
    padding-top: 2rem;
    margin: 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .band-details__socials--icons {
    position: relative;
    right: 5%;
  }
}
@media (min-width: 1279px) {
  .band-details__socials--icons {
    right: 10%;
  }
}

.links {
  display: inline-flex;
}
.links__p {
  width: 50vw;
  text-align: center;
  margin: 0rem;
}
@media (min-width: 768px) {
  .links__p {
    width: 120px;
  }
}
.links__a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .links__a::hover {
    -webkit-text-decoration: 4px underline white;
            text-decoration: 4px underline white;
  }
}
.links__active {
  border-bottom: solid white 4px;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .links__active {
    padding-bottom: 0rem;
    border-bottom: none;
    margin-left: 3rem;
  }
}
.links__active a:link {
  font-family: Avenir Next Bold;
}
@media (min-width: 768px) {
  .links__active a:link {
    -webkit-text-decoration: 4px underline white;
            text-decoration: 4px underline white;
    text-underline-offset: 1.7rem;
  }
}
.links__active a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .links__active a:hover {
    -webkit-text-decoration: 4px underline white;
            text-decoration: 4px underline white;
    text-underline-offset: 1.7rem;
  }
}
@media (min-width: 768px) {
  .links__not-active {
    padding-bottom: 0rem;
    border-bottom: none;
    margin-left: 3rem;
  }
}
.links__not-active a:hover {
  font-family: Avenir Next Bold;
}
@media (min-width: 768px) {
  .links__not-active a:hover {
    -webkit-text-decoration: 4px underline white;
            text-decoration: 4px underline white;
    text-underline-offset: 1.7rem;
  }
}

.bandsite__main {
  padding: 0rem 1.5rem;
}
.bandsite__main__p--bold {
  font-family: Avenir Next Bold;
}
@media (min-width: 768px) {
  .bandsite__main__p--bold {
    margin-left: 4.5rem;
    margin-right: 3rem;
  }
}
.bandsite__main__h1--bold {
  font-family: Avenir Next Bold;
}
@media (min-width: 768px) {
  .bandsite__main__h1--bold {
    padding-top: 2rem;
  }
}
.bandsite__main__h3 {
  margin: 1rem 0rem;
}
.bandsite__main__img {
  width: 90vw;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .bandsite__main__img {
    width: 30vw;
    padding-right: 1rem;
  }
}
.bandsite__main__img--about {
  width: 90vw;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .bandsite__main__img--about {
    width: 75vw;
    height: 45vh;
    margin-left: 4.5rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1279px) {
  .bandsite__main__img--about {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .more-info {
    margin-left: 4.5rem;
    margin-right: 3rem;
  }
}
@media (min-width: 768px) {
  .more-info__section {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .more-info__div {
    width: 45%;
  }
}

.hidden--mobile {
  visibility: hidden;
}
@media (min-width: 768px) {
  .hidden--mobile {
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .hidden--tablet {
    visibility: hidden;
  }
}

.comments-form {
  display: flex;
  position: relative;
  height: 20%;
}
.comments-form__input {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments-form__input--right {
    align-self: flex-end;
  }
}
.comments-form__usericon {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 1rem 0rem 0rem;
}
.comments-form__feild {
  background-color: white;
  border-radius: 4px;
  width: 65vw;
  height: 5vh;
  margin-bottom: 1rem;
}
@media (min-width: 1279px) {
  .comments-form__feild {
    width: 33vw;
  }
}
.comments-form__feild::-moz-placeholder {
  color: #323232;
}
.comments-form__feild::placeholder {
  color: #323232;
}
.comments-form__feild--textareaHeight {
  height: 15vh;
}

.new-comment {
  display: flex;
}
.new-comment__userdetails {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}
@media (min-width: 1279px) {
  .new-comment__userdetails {
    width: 30vw;
  }
}
.new-comment__userdetails__h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: Avenir Next Demi;
}
.new-comment__userdetails--mercuryTextcolor {
  color: #AFAFAF;
  font-weight: 100;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.bandsite__label {
  font-family: Avenir Next Demi;
  color: #AFAFAF;
  line-height: 1.25rem;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .bandsite__label {
    font-size: 0.625rem;
  }
}

.bandsite__button {
  background-color: #323232;
  border-radius: 4px;
  border-style: none;
  font-family: Avenir Next Demi;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  height: 7vh;
  margin-bottom: 1rem;
}
.bandsite__button:hover {
  background-color: #000000;
}
.bandsite__button__buyticket {
  height: 8vh;
  width: 90vw;
  letter-spacing: 0.08rem;
}
@media (min-width: 500px) and (max-width: 768px) {
  .bandsite__button__buyticket {
    width: 93vw;
  }
}
@media (min-width: 768px) {
  .bandsite__button__buyticket {
    width: 20vw;
    height: 5vh;
  }
}
@media (min-width: 1279px) {
  .bandsite__button__buyticket {
    width: 12vw;
  }
}
@media (min-width: 768px) {
  .bandsite__button__comment {
    width: 200px;
    height: 6vh;
  }
}

@media (min-width: 1279px) {
  .conversation {
    margin: 1rem 25rem;
  }
}/*# sourceMappingURL=bio.css.map */