
@use "./partials/colors" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;

* {
    box-sizing: border-box;
    font-family: $fontRegular;
}

body {
    margin: 0rem;
    padding: 0rem;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: $fontBold;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: $fontDemi;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

p{
    font-family: $fontRegular;
    font-size: 0.8125rem;
    line-height: 1.125rem;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

.hero {
    width: 100%;
    height: 30vh;
    padding: 0rem;
    margin: 0rem;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile500 {
        height: 45vh;
    }
    @include tablet {
        height: 60vh;
        background-size: 100% 100%
    }
    

    &__h1--center {
        width: 300px;
        color: $heroH1Color;
        font-family: $fontBold;
        text-align: center;
        position: relative;
        top: 45%;
        padding-right:3rem;
        margin: 0rem;
        @include tablet {
            width: 600px;
            padding-right: 4rem;
            font-size:3.75rem;
            line-height: 4.25rem;
        }
    }
}

a{
    font-weight: 400;
    font-size: 1.1rem;
    
    &:link {
        text-decoration: none;
    }
    
    &:hover {
        text-decoration: solid underline white 4px;
        text-underline-offset: 2.3rem;
        font-weight: bold;
    }
}

.bandsite__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
    background-color: $bandsiteBlack;
    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
        padding: 0rem 2rem;
    };

    a {
        margin: 0.2rem;
        color: white;
    }
}


.bandsite__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0rem 1rem;
    background-color: $bandsiteBlack;
    

    &__h3,&__p {
        color:$footerTextColor;
    }


    &__h1 {
        color:$footerTextColor;
        padding:0rem;
    }

    &__h6 {
        font-family: $fontRegular;
        color:$footerTextColor;
        @include tablet {
            font-size:0.8rem;
            line-height:1.2rem;
        }
    }

    &__img {
        height: 3vh;
        padding-right: 2rem;
    }

    &__h3--margintop {
        color:$footerTextColor;
        margin-top:0rem;
    }

    &__h3--marginbottom {
        color:$footerTextColor;
        margin-bottom:0rem;
    }
}

.wordmark {
    color: white ;
    margin: 0rem;
    font-family: $fontRegular;
    
}

.bandDetails {
    padding-bottom: 5rem;
    @include tablet {
        display: flex;
        justify-content: space-around;
        padding-bottom: 0rem;
    }

    &__member {
        padding-bottom: 0.5rem;
        @include tablet {
            width: 30vw;
        }
    }

    &__socials {
        padding-bottom: 0.5rem;
        @include tablet {
            padding-top: 2rem;
            margin: 0rem 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        &--icons{
            @include tablet{
            position:relative;
            right:10%;
            }
        }
    }



    
}

.links {
    display:inline-flex;
    p {
        width: 50vw;
        text-align:center;
        margin: 0rem;
        @include tablet{
            width: 120px;
        };
    }

    .active {
        border-bottom: solid white 4px;
        padding-bottom: 1rem;
        @include tablet{
            padding-bottom: 0rem;
            border-bottom:none;
            margin-left: 3rem;
        };
        
        a:link {
            font-family: $fontBold;
            @include tablet{
                text-decoration: 4px underline white;
                text-underline-offset: 2.3rem;
            }
            
        }
        
        a:hover {
            text-decoration: none;
            @include tablet{
                text-decoration: 4px underline white;
            };
        }
        
    }
}


.bandsite__main {
    padding:0rem 1.5rem;
    
    &__p--bold{
        font-family: $fontBold;
        @include tablet {
            margin-left:4.5rem;
            margin-right:3rem;
        }
    }

    &__h1--bold{
        font-family: $fontBold;
        @include tablet {
            padding-top: 2rem;
        }
    }

    &__h3{
        margin:1rem 0rem;
    }

    &__img {
        width: 90vw;
        padding-bottom: 1rem;
        @include tablet {
            width: 30vw;
            padding-right:1rem;
        }
    }

    &__img--about {
        width: 90vw;
        padding-bottom: 1rem;
        @include tablet {
            width:75vw;
            height:45vh;
            margin-left:4.5rem;
            margin-right:3rem;
        }
        
        @include desktop {
            height: 50vh;
        }
    }
}

.moreInfo {

    @include tablet {
        margin-left:4.5rem;
        margin-right:3rem;
    }

    &__sec {
        @include tablet {
            display:flex;
            justify-content: space-between;
        }
    }

    &__div {
            @include tablet {
                width: 45%;
            }
    }
}

.hiddenBefore {
    visibility: hidden;
    
    @include tablet {
        visibility: visible;
    }

}

.hiddenAfter {
    @include tablet {
        visibility: hidden;
    }
}

.commentsForm {
    display:flex;
    position: relative;
    height: 20%;

    &__Input {
        display: flex;
        flex-direction: column;
        &--right {
            @include tablet{
                align-self: flex-end;
            }
            
        }
    }

    &__userIcon {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        object-fit: cover;
        margin: 1rem 1rem 0rem 0rem;
    }

    &__feild {
        background-color: white;
        border-radius: 4px;
        width: 65vw;
        height: 5vh;
        @include desktop {
            width:33vw;
        }
        margin-bottom: 1rem;
        &::placeholder{
            color: $bandsiteBlack;
        }
        &--textareaHeight {
            height: 15vh;
        }
    }
}

.newComment {

    display: flex;

    &__userDetails {
        display: flex;
        justify-content: space-between;
        width: 70vw;
        @include desktop {
            width: 30vw;
        }

        &__h3 {
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-family: $fontDemi;
        }

        &--mercuryTextcolor {
            color: $bandsiteSilver;
            font-weight: 100;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
}

.labelBandsite {
    font-family: $fontDemi;
    color: $bandsiteSilver;
    line-height: 1.25rem;
    font-size: 0.75rem;
    @include tablet {
        font-size: 0.625rem;
    }
}

.buttonBandsite {
    background-color: $bandsiteBlack;
    border-radius: 4px;
    border-style: none;
    font-family: $fontDemi;
    font-size: 1.2rem;
    color: white;
    width: 100%;
    height: 7vh;
    margin-bottom: 1rem;
    &:hover {
        background-color: $bandsiteDarkBlack;
    }
    &__buyTicket {
        height: 8vh;
        width: 85vw;
        letter-spacing: 0.08rem;
        @include tablet {
            width:auto;
        }
    }

    &__comment{
        @include tablet {
            width: 200px;
            height: 6vh;
        }
        
    }

}

.conversation {
    @include desktop{
        margin: 1rem 25rem;
    }
}

