@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
.hero__shows {
  width: 100%;
  height: 30vh;
  padding: 0rem;
  margin: 0rem;
  background-image: url("../assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) and (max-width: 768px) {
  .hero__shows {
    height: 33vh;
  }
}
@media (min-width: 768px) {
  .hero__shows {
    height: 45vh;
    background-size: 100% 100%;
  }
}
@media (min-width: 1279px) {
  .hero__shows {
    flex-direction: row;
    align-items: center;
    height: 55vh;
    background-size: 100% 100%;
  }
}
.hero__shows__heading--center {
  width: 300px;
  color: white;
  font-weight: 700;
  margin: 0rem 0rem 0rem 1rem;
}
@media (min-width: 768px) {
  .hero__shows__heading--center {
    width: 600px;
    padding-right: 4rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1279px) {
  .hero__shows__heading--center {
    margin-left: 4rem;
  }
}
.hero__shows__sub-heading--center {
  width: 300px;
  color: white;
  font-weight: 600;
  margin: 0rem 0rem 1.5rem 1rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .hero__shows__sub-heading--center {
    width: 600px;
    padding-right: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1279px) {
  .hero__shows__sub-heading--center {
    margin-left: 4rem;
  }
}

.soundcloud__frame {
  display: inline-block;
  margin: 0rem 0rem 0rem 1rem;
  width: 95%;
  height: 50%;
  position: relative;
}
@media (min-width: 1279px) {
  .soundcloud__frame {
    margin-top: 4rem;
    width: 60%;
  }
}

#frame {
  width: 80%;
  height: 50%;
  position: absolute;
  border-radius: 3%;
  zoom: 0.75;
}

@media (min-width: 1279px) {
  .shows__heading--marginLeft {
    margin-left: 5rem;
  }
}
.shows__add {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .shows__add {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.shows__add__section {
  width: 80%;
}
@media (min-width: 768px) {
  .shows__add__section {
    width: 20%;
  }
}
.shows__add__section__sub-heading {
  font-family: Avenir Next;
  color: #323232;
  margin-top: 0rem;
}
.shows__add__section__sub-heading--bold {
  font-weight: 600;
  margin-top: 0rem;
}
.shows__add__section__cell-content {
  font-weight: 600;
  color: #AFAFAF;
  line-height: 1.25rem;
  font-size: 0.75rem;
  margin: 0rem;
}

.hidden {
  visibility: hidden;
}

.highlight {
  background-color: #E1E1E1;
}

@media (min-width: 1279px) {
  #shows {
    margin: 1rem 10rem 1rem 20rem;
  }
}

@media (min-width: 768px) {
  .links__not-active {
    margin-left: 3rem;
  }
}
@media (min-width: 768px) {
  .links__active {
    margin-left: 0rem;
  }
}/*# sourceMappingURL=shows.css.map */